* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background-image: url("https://img.freepik.com/free-vector/beautiful-mountain-chain-landscape-purple-shades_23-2148271246.jpg?t=st=1728487051~exp=1728490651~hmac=08fbed78f6da6bb23d158f822f75798086530a64472d471f6b1adfb4b6ec69b5&w=826");
  height: 100%;

  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 16px;
}

header {
  background: rgba(255,255,255,0.45);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  border: 1px solid rgba(255,255,255,0.225);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: rgba(35, 35, 36, 0.2) 0px 7px 29px 0px;
}

header h1 {
  color:#eb0eb8;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: rgba(255,255,255,0.6);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  border: none;
  border-radius: 7px;
  box-shadow: rgba(35, 35, 36, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  background: none;
  position: relative;
  float: right;
  margin-right: 10px;
  color: #eb0eb8; 
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: rgba(255,255,255,0.6);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  border: none;
  padding: 15px;
  border-radius: 7px;
  box-shadow: rgba(35, 35, 36, 0.2) 0px 7px 29px 0px;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  color:#c3bfbf;
  background-color: rgba(239, 238, 238, 0.6);
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  border: solid 1px;
  border-radius: 7px;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family:'Courier New', Courier, monospace;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #eb0eb8;;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
